<div class="row" ng-controller="NewsTodayCtrl">

    <a news-card="item" ng-repeat="item in news">
    </a>

    <masonry>
        <div class="masonry-brick">
            <a news-card="item" ng-repeat="item in news">
            </a>
        </div>
        <div class="masonry-brick">
            <a news-card="item" ng-repeat="item in exhibitions">
            </a>
        </div>
        <div class="masonry-brick">
            <a news-card="item" ng-repeat="item in events">
            </a>
        </div>
        <div class="masonry-brick">
            <div class="hours-list"></div>
        </div>
    </masonry>

</div>