.front-page {
  h2, .h2 {
    background-color: rgba(255,255,255,.9);
    margin-bottom: 0;
    padding: 10px;
  }
  .news-card {
    color: #333;
    display: block;
    padding: 15px;
    margin-top: 0;
    border: 1px solid transparent;
    background-color: rgba(255,255,255,.9);

    &:hover {
      text-decoration: none;
      background-color: rgba(255,255,255,1);
      border-top-color: #eee;
      border-bottom-color: #eee;
    }

    h4, .h4{
      color: #428bca;
    }
  }
}