<a ng-href="#/news-exhibits/{{newsCard.link}}" class="media news-card">
    <div class="media-body">
        <h2 class="h4" class="media-heading">
            <span ng-bind-html="newsCard.title | truncate:50:'...':true"></span>
        </h2>
        <div class="details-context" ng-if="(newsCard.activeFrom != newsCard.activeUntil && newsCard.type != 0)">
            {{newsCard.activeFrom | date:mediumDate}} - {{newsCard.activeUntil | date:mediumDate}}
        </div>
        <div class="details-context" ng-if="(newsCard.type == 0)">
            {{newsCard.created | date:mediumDate}}
        </div>
        <p ng-bind-html="newsCard.blurb | truncate:150:'...':true"></p>
    </div>
</a>