<div class="jumbotron-header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <h1>News &amp; Exhibits</h1>
                </div>
                <div class="col-sm-5">
                    <div class="well">
                        <p class="lead">Looking for upcoming events in the University Libraries?</p>
                        <a href="http://events.ua.edu/category/22/" class="btn btn-primary" target="_new">View event calendar <span class="fa fa-external-link"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h2>{{newsItem.title}}</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-push-8">
            <div class="well" ng-if="newsItem.contactName">
                <h4>For more information contact</h4>
                <ul class="fa-ul">
                    <li><span class="fa fa-user fa-li"></span>{{newsItem.contactName}}</li>
                    <li><span class="fa fa-phone fa-li"></span>{{newsItem.contactPhone}}</li>
                    <li><span class="fa fa-envelope fa-li"></span>{{newsItem.contactEmail}}</li>
                </ul>
            </div>
            <a href="#/news-exhibits" class="btn btn-default"><span class="fa fa-reply"></span> See all news &amp; exhibits</a>
        </div>
        <div class="col-md-8 col-md-pull-4">
            <div class="text-center news-carousel-container-small" ng-if="newsItem.images.length > 0">
                <ul rn-carousel rn-carousel-auto-slide rn-carousel-buffered
                    rn-carousel-index="curImage" rn-carousel-locked="isLocked"
                    class="image news-carousel-small">
                    <li ng-repeat="img in newsItem.images track by $index">
                        <div class="layer text-center">
                            <div class="news-carousel-image-small"
                                 ng-style="{'background-image':img.styles}"
                                 ng-class="{portrait: img.isPortrait}"
                                 ng-click="enlargeImages(true, $index)">
                            </div>
                        </div>
                    </li>
                </ul>
                <div rn-carousel-indicators ng-if="newsItem.images.length > 1" slides="newsItem.images" rn-carousel-index="curImage">
                </div>
            </div>
            <h5 class="text-muted">
                <span>Created on {{newsItem.created | date:mediumDate}}</span>
            </h5>
            <p class="text-justify" ng-bind-html="newsItem.description"></p>
        </div>
    </div>
    <div ng-show="showEnlarged">
        <div class="carousel-lg" ng-click="enlargeImages(false)">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul rn-carousel rn-carousel-controls rn-carousel-index="curEnlImage" class="image">
                <li ng-repeat="img in newsItem.images">
                    <div class="layer"><img class="fullsize-img" ng-src="{{img.src}}" ng-click="nextSlide()"/></div>
                </li>
            </ul>
            <div class="text-center" rn-carousel-indicators ng-if="newsItem.images.length > 1" slides="newsItem.images" rn-carousel-index="curEnlImage"></div>

        </div>

        <!--<div class="news-carousel-container-large">-->
        <!--<ul rn-carousel rn-carousel-controls rn-carousel-buffered-->
        <!--rn-carousel-index="curEnlImage" rn-carousel-transition="none"-->
        <!--class="image news-carousel-large" rn-carousel-controls-allow-loop>-->
        <!--<li ng-repeat="img in newsItem.images">-->
        <!--<div class="layer text-center">-->
        <!--<div class="news-carousel-image-large"-->
        <!--ng-style="{'background-image':'url('+img+')'}" ng-click="setCurEnlImage($event, $index)">-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<div rn-carousel-indicators ng-if="newsItem.images.length > 1" slides="newsItem.images" rn-carousel-index="curEnlImage">-->
        <!--&lt;!&ndash;<div class="news-carousel-large-indicators text-center" ng-if="newsItem.images.length > 1">&ndash;&gt;-->
        <!--&lt;!&ndash;<span ng-repeat="img in newsItem.images" class="clickable-item"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-click="setCurEnlImage($event, $index)">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="fa fa-2x fa-circle-o" ng-class="{'fa-3x': $index == $parent.curEnlImage}">&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
