.news-list-tb {
  min-width:180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.news-list-tb-news {
  background-image:url('https://wwwdev2.lib.ua.edu/newsApp/images/tb_news.png');
}

.news-list-tb-exhibit {
  background-image:url('https://wwwdev2.lib.ua.edu/newsApp/images/tb_exhibit.png');
}