
<div class="jumbotron bg-transparent">
    <div class="row">
        <div class="col-md-7">
            <h1>News &amp; Exhibits</h1>
        </div>
        <div class="col-md-5">
            <div class="well">
                <p class="lead">Looking for upcoming events in the University Libraries?</p>
                <a href="http://events.ua.edu/category/22/" class="btn btn-primary" target="_new">View event calendar <span class="fa fa-external-link"></span></a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-9">

        <div class="media animate-repeat" ng-repeat="item in news | filter:{type: newsFilters.type}
                                                                  | filter:newsFilters.search
                                                                  | orderBy:['-sticky','-created']">
            <div class="media-left" style="min-width:180px;
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: contain;"
                 ng-style="{'background-image':'url('+item.tb+')'}" ng-if="item.tb.length > 0">
            </div>
            <div class="media-left" style="min-width:180px;
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 background-image:url('https://wwwdev2.lib.ua.edu/newsApp/images/tb_news.png');"
                 ng-if="item.type == 0 && item.images.length == 0">
            </div>
            <div class="media-left" style="min-width:180px;
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: contain;
                 background-image:url(https://wwwdev2.lib.ua.edu/newsApp/images/tb_exhibit.png)"
                 ng-if="item.type == 1 && item.images.length == 0">
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a ng-href="#/news-exhibits/{{item.link}}" ng-bind-html="item.title | highlight:newsFilters.search"></a>
                    <small ng-if="item.type > 0">{{item.activeFrom | date:mediumDate}} - {{item.activeUntil | date:mediumDate}}</small>
                </h4>
                <p class="text-justify" ng-bind-html="item.description | truncate:250:true | highlight:newsFilters.search"></p>
            </div>
        </div>

        <div class="text-center">
            <pagination total-items="filteredNews.length" ng-model="soft.page" max-size="10" class="pagination-sm" boundary-links="true" items-per-page="soft.perPage" ng-change="update()" ng-if="filteredNews.length > soft.perPage"></pagination>
        </div>

        <div class="alert alert-warning text-center" role="alert" ng-show="news.length < 1">
            <h2>
                No
                <span ng-show="newsFilters.type == ''">News or Exhibits</span>
                <span ng-show="newsFilters.type == '0'">News</span>
                <span ng-show="newsFilters.type == '1'">Exhibits</span>
                match the search "<strong>{{newsFilters.search}}</strong>"</span>
            </h2>
        </div>
    </div>

    <div class="col-md-3 software-list-container">
        <h3>Filters</h3>
        <form class="facets-form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="newsFilters.search" placeholder="Keyword search">
            </div>

            <div class="form-group">
                <label for="byType">Type</label>
                <div id="byType" class="btn-group btn-group-justified btn-group-sm">
                    <label class="btn btn-default" ng-model="newsFilters.type" btn-radio="''">All</label>
                    <label class="btn btn-default" ng-model="newsFilters.type" btn-radio="'0'">News</label>
                    <label class="btn btn-default" ng-model="newsFilters.type" btn-radio="'1'">Exhibits</label>
                </div>
            </div>
        </form>


    </div>

</div>