.news-list-tb {
  min-width:180px;
  min-height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}

.news-list-tb-news {
  background-image:url('/newsApp/images/tb_news.png');
}

.news-list-tb-exhibit {
  background-image:url('/newsApp/images/tb_exhibit.png');
}