<div class="jumbotron-header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb" typeof="BreadcrumbList" vocab="http://schema.org/">
                        <li><a title="Go to The University of Alabama Libraries." href="/#/home" class="home">The University of Alabama Libraries</a></li>
                        <li><a title="Go to News." href="/#/news-exhibits" class="post post-page">News</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <h1>News &amp; Exhibits</h1>
                </div>
                <div class="col-sm-5">
                    <div class="well">
                        <p class="lead">Looking for upcoming events in the University Libraries?</p>
                        <a href="http://events.ua.edu/category/22/" class="btn btn-primary" target="_new">View event calendar <span class="fa fa-external-link"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div class="media animate-repeat" ng-repeat="item in news | filter:{type: newsFilters.type}
                                                                  | filter:newsFilters.search
                                                                  | orderBy:['-sticky','-created']">
                <div class="media-left hidden-sm hidden-xs">
                    <a ng-href="#/news-exhibits/{{item.link}}" class="news-list-tb" ng-class="{img: item.tb}">
                        <img class="media-object" ng-src="{{item.tb}}" ng-if="item.tb" />
                        <span class="media-object"
                          ng-if="item.type == 0 && !item.tb"><span class="fa fa-newspaper-o"></span></span>
                        <span class="media-object"
                          ng-if="item.type == 1 && !item.tb"><span class="fa fa-calendar"></span></span>
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a ng-href="#/news-exhibits/{{item.link}}" ng-bind-html="item.title | highlight:newsFilters.search"></a>
                    </h3>

                    <h5 class="text-muted" ng-if="item.type > 0">Exhibit {{item.activeFrom | date:mediumDate}} - {{item.activeUntil | date:mediumDate}}</h5>
                    <h5 class="text-muted" ng-if="item.type < 1">Created on {{item.created | date:mediumDate}}</h5>
                    <p class="text-justify">
                    <span ng-bind-html="item.blurb | highlight:newsFilters.search">
                    </span>
                    </p>
                </div>
            </div>

            <div class="text-center">
                <pagination total-items="filteredNews.length" ng-model="soft.page" max-size="10" class="pagination-sm" boundary-links="true" items-per-page="soft.perPage" ng-change="update()" ng-if="filteredNews.length > soft.perPage"></pagination>
            </div>

            <div class="alert alert-warning text-center" role="alert" ng-show="news.length < 1">
                <h2>
                    No
                    <span ng-show="newsFilters.type == ''">News or Exhibits</span>
                    <span ng-show="newsFilters.type == '0'">News</span>
                    <span ng-show="newsFilters.type == '1'">Exhibits</span>
                    match the search "<strong>{{newsFilters.search}}</strong>"</span>
                </h2>
            </div>
        </div>

        <div class="col-md-3 hidden-xs">
            <h4>Filters</h4>
            <form class="facets-form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="newsFilters.search" placeholder="Keyword search">
                </div>
            </form>
        </div>

    </div>
</div>